html {
  width: 1720px;
  height: 3023px;
  background-color: black;
}
/* start of Nav styles */
nav {
  display: flex;
  gap: 25px;
}
nav a {
  text-decoration: none;
  color: #040404;
}
.skip-link {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.skip-link:hover {
  background-color: #040404;
  color: #fff;
  box-shadow: 2px 2px 20px #fff;
  transform: translateY(-2px);
  cursor: pointer;
}
/* end of Nav styles */

/* start of header styles */
header {
  width: 1870px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 10px;
  color: black;
  flex-shrink: 0;
  background-color: #00529b;
}
.intern-summer {
  width: 635px;
  display: flex;
  color: #f2f2f2;
  font-size: 2.1875rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: -15px;
}
.Connerrob {
  color: white;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  word-wrap: break-word;
}
/* End of header styles*/

/* start of Darkmode/lightmode toggle button styles */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #00529b;
  --dark: #bc581a;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* end of darkmode/lightmode toggle button styles */

/* start of darkmode/lightmode styles for the button */
header.light-mode {
  background-color: #bc581a;
  color: #fff;
}

header.dark-mode {
  background-color: #00529b;
  color: #fff;
}
aside.light-mode {
  color: #333132;
  border-right: 3px solid #bc581a;
}

aside.dark-mode {
  color: #333132;
  border-right: 3px solid #00529b;
}
button.light-mode {
  background-color: #040404;
  color: #fff;
}
.dropdown-button.light-mode {
  background-color: #bc581a;
  color: #fff;
}
.dropdown-button.dark-mode {
  background-color: #00529b;
  color: #fff;
}

main.light-mode {
  background-color: #faf8f1;
  color: #333132;
}
main.dark-mode {
  background-color: #faf8f1;
  color: #333132;
}
.learned.light-mode {
  color: #333132;
}
.learned.dark-mode {
  color: #333132;
}
.learned-items.light-mode {
  color: #fff;
  background-color: #00529b;
}
.learned-items.dark-mode {
  background-color: #bc581a;
}
footer.light-mode {
  background-color: #bc581a;
  color: #fff;
}
footer.dark-mode {
  background-color: #00529b;
  color: #fff;
}
.projects-container.light-mode {
  color: #fff;
  background-color: #00529b;
}
.projects-container.dark-mode {
  background-color: #bc581a;
}
.Contact-container.light-mode {
  color: #fff;
  background-color: #00529b;
}
.Contact-container.dark-mode {
  background-color: #bc581a;
}
.git-button.light-mode {
  background-color: #bc581a;
}
.git-button.dark-mode {
  background-color: #00529b;
}
.up-button.light-mode {
  background-color: #00529b;
}
.up-button.dark-mode {
  background-color: #bc581a;
}
/* End of darkmode/lightmode styles for the button */

/*Start of aside section*/
button {
  border-radius: 20px;
  width: 225px;
  height: 60px;
  flex-shrink: 0;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
aside {
  display: flex;
  color: #333132;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 15%;
  border-right: 3px solid #bc581a;
  margin-right: 100px;
}

.dropdown-button {
  padding: 16px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #00529b;
  color: #fff;
  border: none;
  cursor: pointer;
}
.dropdown-button:hover,
.dropdown-button:focus {
  background-color: #444544;
  border: 2px solid #fff;
  color: white;
}
.vert {
  position: relative;
  display: inline-block;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}
.dropdown a:hover {
  background-color: #ddd;
}
/* end of aside styles */

/* start of Main styles*/
main {
  width: 1870px;
  display: flex;
  flex-direction: row;
  padding: 96px 10px;
  background-color: #faf8f1;
  color: #333132;
}
.learned {
  color: #333132;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}
p {
  line-height: 1.5;
}

/* start of card for learned items */
.time-here {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.learned-items {
  display: flex;
  font-family: "Lato", sans-serif;
  width: 1024px;
  border-radius: 30px;
  margin-bottom: 20px;
  max-width: 1024px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #bc581a;
  box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 1);
}
.title-learned {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.header4 {
  align-self: flex-start;
  margin-bottom: -10px;
}
.POUR {
  color: #fff;
  text-decoration: underline;
}
/* end of learned items/main styles */

/* Start of footer styles */
footer {
  width: 1703px;
  display: flex;
  justify-content: space-evenly;
  padding: 34px 96px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: #00529b;
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.projects-container {
  background-color: #bc581a;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 0 96px 20px 96px;
  display: flex;
  flex-direction: row;
  gap: 35px;
  font-family: "Roboto", sans-serif;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  margin-left: -40px;
}

.projects-container:hover {
  box-shadow: 2px 2px 10px #fff;
  transition: all 0.2s ease-in-out;
}
/* Project buttons */
.project-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  width: 135px;
}
.project-button a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.project-button::before {
  margin-left: auto;
}
.project-button::after,
.project-button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.5s;
}
.project-button:hover::after,
.project-button:hover::before {
  width: 100%;
}
.weatherIcon {
  height: 75px;
  width: 75px;
  border-radius: 20px;
  flex-direction: row;
}
.weatherProj {
  display: flex;
}
.tictactoeIcon {
  height: 75px;
  width: 75px;
  border-radius: 20px;
  flex-direction: row;
}
.tic-tac-toeProj {
  display: flex;
}
.movieIcon {
  height: 75px;
  width: 75px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #f1f1f1;
}
.movieProj {
  display: flex;
}
/* border under email */
.border-bottom {
  padding-bottom: 20px;
  border-bottom: 3px solid #fff;
}
.Contact-container {
  background-color: #bc581a;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 0 75px 20px 75px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.contact-me {
  margin-bottom: -10px;
}
.phone {
  margin-bottom: -10px;
}
.Contact-container:hover {
  box-shadow: 2px 2px 10px #fff;
  transition: all 0.2s ease-in-out;
}
.git-button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #00529b;
  border: none;
  color: #fff;
  border: 2px solid #fff;
  font-family: "Roboto", sans-serif;
}
.git-button a {
  text-decoration: none;
  color: #fff;
}
.git-button:hover {
  background: #444544;
  color: #040404;
  box-shadow: 0 0 45px #fff;
  border: 2px solid #040404;
  cursor: pointer;
}

/* back to top button */
.up-button {
  background-color: #bc581a;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #fff;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.upArrow {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-right: 10px;
}

.up-button:hover {
  background-color: #353434;
  color: #fff;
  box-shadow: 2px 2px 20px #040404;
  transform: translateY(-2px);
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    max-width: 768px;
  }
  .skip-link {
    width: 150px;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
    width: 768px;
  }
  .Connerrob {
    font-size: 36px;
  }
  .intern-summer {
    font-size: 20px;
  }
  main {
    font-size: 24px;
    width: 768px;
  }
  .learned-items {
    font-size: 24px;
    width: 400px;
  }
  aside {
    width: 15%;
    font-size: 12px;
    padding-right: 40px;
  }
  .dropdown-button {
    width: 150px;
    font-size: 12px;
    text-transform: none;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
    width: 768px;
  }
  .projects-container {
    font-size: 16px;
    width: 400px;
  }
  .up-button {
    width: 150px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
